<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lostandfound">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.view.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.ui.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.ui.MoreInformationAboutFoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.ui.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.ui.FirebaseLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.ui.FirebaseSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.ui.StartActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".presentation.view.ui.MainActivity" /> <!-- <activity android:name=".activity.SignUpActivity" /> &lt;!&ndash; <activity android:name=".activity.LogInActivity" /> &ndash;&gt; -->
        <activity android:name=".presentation.view.ui.AddLostActivity" />
        <activity android:name=".presentation.view.ui.AddFoundActivity" />
        <activity android:name=".presentation.view.ui.MoreInformationAboutLostActivity" />

    </application>


</manifest>